.svn/
obj/
bin/
test/
*.suo
*.dat
*.cache
*_ReSharper*
*.vsmdi
insecurepages.*
thirdparty.*
WebApp.Publish.xml
*.csproj.user
*.DotSettings.user
src/TestResults
all.xml
*.sdf
*.orig
*.user
src/*.user
[src/test]*user
*.onetoc2

/src/.vs
/src/*.user
*.config

#NuGet
/src/.nuget
/src/packages/*¸
packages/*
!repositories.config
!packages.config

.vscode
**/*.sln.slm

.vs
/tools/
/config/

# compiled output
dist
/tmp
/out-tsc
/output

